:root {
  --c-night: #3c393c;
  /*--c-night: #161416;*/
  --c-nothing: #161416;
  --c-clouds: #eae9e5;
  --c-tomato: oklch(0.65 0.24 35.68);
  /* --c-gold: oklab(0.9 0.02 0.12); */
  --c-gold: #ff9900;
  --c-lime: oklab(0.88 -0.18 0.03);
  --c-lime-trans: oklab(0.88 -0.18 0.03 / 0);

  --c-bg: var(--c-clouds);
  --c-onBg: var(--c-night);
  --c-onBgSmall: var(--c-nothing);
  --c-interactionText: var(--c-sky);
  --c-highlight: var(--c-gold);
  --c-onHighlight: var(--c-night);


  --c-logo-line: var(--c-onBg);
  --c-logo-line-cover: var(--c-bg);

  --logoGradient: radial-gradient(transparent 69%, var(--c-logo-line) 69%),
                  radial-gradient(transparent 68%, var(--c-logo-line-cover) 68%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--c-onBg);
  background-color: var(--c-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: calc(1rem + 0.5vw);
  --s-logo-type-font-size: 12rem;
  --s-title: 5rem;

  --s-indent: max(10vw, 4vmin);
  --s-y-center: 50dvh;
  --s-design-gutter-top: calc(var(--s-y-center) - (var(--s-logo-type-font-size) / 2)); 
  --s-design-gutter: 4vmin;
  padding: 0;
}

@media screen and (max-width: 800px) {
  :root {
    --s-y-center: 30dvh;
    --s-logo-type-font-size: 8.5rem;
    --s-indent: 4vmin;
    --s-title: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: var(--c-night);
    --c-onBg: var(--c-clouds);
    --c-onBgSmall: var(--c-clouds);
    --c-interactionText: var(--c-sky);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

p {
  color: var(--c-onBgSmall);
}

::selection {
  background-color: var(--c-highlight);
  color: color-mix(in lab, var(--c-onBg) 80%, transparent);
}

a:not(.button) {
  position: relative;
  display: inline-block;
  color: var(--c-onBg);
  text-decoration: underline;
  text-decoration-color: var(--c-highlight);
  text-decoration-thickness: .2em;
}

a:not(.button)::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--c-highlight);
  z-index: -1;
  transform-origin: 50% 100%;
  transform: translate(0, 0) scaleY(0);
  transition: transform 200ms cubic-bezier(0.3, 0.7, 0, 1);
}


a:hover::before {
  transform: translate(0, 0) scaleY(1.1) scaleX(1.1);
}

.button {
  display: inline-block;
  background: var(--c-highlight);
  color: var(--c-onHighlight);
  padding: .5rem 1rem;
  margin-top: 1em;
  position: relative;
  text-decoration: none;
  box-shadow: 0 0 0 1px currentColor;
}

ul {
  list-style-type: circle;
  margin: 0;
}

p {
  margin: 0;
}

blockquote {
  padding: 0;
  margin: 0;
}

h1, h2, h3, strong, .nav, th, .button {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

strong {
  font-style: italic;
}

h1 {
  font-size: var(--s-logo-type-font-size);
  line-height: 0.8;
  position: relative;
  width: min-content;
  white-space: nowrap;
}

h2 {
  font-size: var(--s-title);
  margin: 2em 0 0;
}


@media (prefers-color-scheme: dark) {
  h2 {
    color: var(--c-highlight);
  }
}

.design-width {
  padding: calc(var(--s-design-gutter) * .25) calc(var(--s-design-gutter) + var(--s-indent)) calc(var(--s-design-gutter) * .25) calc(var(--s-design-gutter) + var(--s-indent));
}

.design-width--main {
  margin-top: var(--s-design-gutter-top);
  padding: 0 calc(var(--s-design-gutter) + var(--s-indent)) var(--s-design-gutter) calc(var(--s-design-gutter) + var(--s-indent));
}

.indent {
  margin-left: calc(var(--s-indent) * .5);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: var(--c-onBg);
  color: var(--c-bg);
  font-size: .8em;
  z-index: 1;

  a {
    color: var(--c-highlight);
  }
}

.footer {
  z-index: 1;
  position: relative;
  /*background: linear-gradient(to bottom, var(--c-lime-trans), var(--c-highlight) 90%);*/
  /*margin-top: calc(var(--s-design-gutter-top) * .5);*/

  font-size: .75em;
  h2 {
    font-size: 5em;
  }
}

.footer::before {
  display: none;
  content: '';
  position: absolute;
  inset: 0;
  z-index: -3;
  /*background: var(--c-highlight);*/
}

.footer__copy {
  background: var(--c-onBg);
  color: var(--c-bg);
  margin-top: calc(var(--s-design-gutter-top) * .15);
  p {
    color: var(--c-bg);
  }
  a {
    color: var(--c-highlight);
  }
}

.footer__inner {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__inner--tight {
  justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 4rem;
    h2 {
      margin-top: 0rem
    }
  }
  .footer__inner {
    display: block;
  }
  .footer__copy {
    margin-top: 2rem;
    padding: 1rem 0;
  }
}

.article-lead {
  margin-top: var(--s-design-gutter-top);
}

.logo-type {
  font-size: var(--s-logo-type-font-size);
  line-height: .68; /* approximate the font size */
  margin: 0 0 1rem;
  margin-left: calc(var(--s-indent) * -1);
  /*color: var(--c-highlight);*/
  /*

  text-shadow: 1px 1px var(--c-highlight),
               2px 2px var(--c-highlight),
               3px 3px var(--c-highlight),
               4px 4px var(--c-highlight),
               5px 5px var(--c-highlight),
               6px 6px var(--c-highlight),
               7px 7px var(--c-highlight),
               8px 8px var(--c-highlight),
               9px 9px var(--c-highlight),
               10px 10px var(--c-highlight),
               11px 11px var(--c-highlight),
               12px 12px var(--c-highlight),
               13px 13px var(--c-highlight); */
}

.logo {
  --logo-size: 5rem;
  --logo-stack: calc(var(--logo-size)/11.5);

  perspective: 600px;
  width: var(--logo-size);
  aspect-ratio: 1;
  display: inline-block;
}

.logo--bg {
  --logo-size: min(30rem, 50vw);

  position: fixed;
  top: calc(var(--s-design-gutter-top) + var(--s-logo-type-font-size) / 2);
  right: 0;

  transform: 
    translateY(-50%) 
    translateX(10%) 
    translateX(calc(var(--relativeScrollPosition, 0) * 5vw))
    translateY(calc(var(--relativeScrollPosition, 0) * 40%))
    scale(calc(1 + var(--relativeScrollPosition, 0) * -0.3));

  perspective: calc(calc(var(--relativeScrollPosition, 0) * -300px) + 600px);

  perspective: calc(calc(var(--relativeScrollPosition, 0) * 300px) + 600px);
  /* make sure the logo is in the background */
  z-index: 1;
  pointer-events: none;

  /*--c-logo-line: color-mix(in lch,
        var(--c-gold) calc(var(--relativeScrollPosition, 0) * 100%),
        var(--c-onBg));*/
}

@media screen and (max-width: 800px) {
  .logo--bg {
    transform: translateY(-40dvh) translateX(40%) translateY(calc(var(--relativeScrollPosition, 0) * 80dvh));
  }
}

.logo__plain,
.logo__surface {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  border-radius: 50%;
  backface-visibility: visible;
  transform-origin: 50% 50% 0;
  transform: translate(-50%, -50%);
  --c-logo-line-cover: var(--c-highlight);
  box-shadow: inset 0 0 0 .3rem var(--c-logo-line),
              inset 0 0 0 1rem var(--c-logo-line-cover),
              inset 0 0 0 1.5rem var(--c-bg);
  /*box-shadow: inset 0 0 0 .3rem var(--c-logo-line);
  background: linear-gradient(transparent, var(--c-highlight));*/
}

@media (prefers-color-scheme: dark) {
  .logo__plain,
  .logo__surface {
    box-shadow: inset 0 0 0 .3rem var(--c-bg),
                inset 0 0 0 1rem var(--c-logo-line-cover);
  }

}

.logo__plain {
  width: var(--logo-size);
  height: var(--logo-size);
  animation: 15s spin linear infinite forwards;
  animation-play-state: paused;
  animation-delay: -14.3s;
  /* will-change: transform; */ /* causes flickering, but could be useful for performance */
}

.logo--bg .logo__plain {
  animation-delay: calc(var(--relativeScrollPosition, 0) * -6s);
}

@media screen and (max-width: 800px) {
  .logo--bg .logo__plain {
    animation-delay: calc(var(--relativeScrollPosition, 0) * -7s - 10s);
    will-change: transform;
  }
}

.logo--coin {
  --logoGradient: transparent;
  position: relative;
  --logo-size: 5rem;
  perspective: 400px;
}

.logo--coin::after {
  content: 'T';

  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  position: absolute;
  font-size: 7.7rem;
  font-size: 4.75rem;
  margin-top: -0.015ex;
  z-index: 1;
  color: var(--c-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo--coin .logo__plain {
  animation: none;
  transform: translate(-50%, -50%) rotateX(210deg) rotateY(180deg) rotateZ(90deg);
}

.logo--coin .logo__plain,
.logo--coin .logo__surface {
  background: var(--c-onBg);
  box-shadow: 0 0 0 .2rem var(--c-bg);
}

.logo__surface {
  width: 100%;
  height: 100%;
  animation: 6s scale cubic-bezier(0.66, 0.18, 0.96, 0.13) infinite alternate paused;

  .logo__surface {
    animation-delay: -1s;

    .logo__surface {
      animation-delay: -2s;

      .logo__surface {
        animation-delay: -3s;

        .logo__surface {
          animation-delay: -4s;

          .logo__surface {
            animation-delay: -5s;

            .logo__surface {
              animation-delay: -6s;
            }
          }
        }
      }
    }
  }
}

.logo__surface--bottom,
.logo__surface--bottom .logo__surface {
  --logo-sizeirection: -1;
}

td, th {
  padding: 0.1rem .5rem 0.1rem 0;
}

tbody th {
  text-align: left;
  padding-right: 1rem;
}

.feature {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  i {
    display: none;
  }
}

.feature::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '✓';
  font-size: .8em;
  line-height: 1.5;
  transform: translate(-50%, -50%);
}

.feature--check {
  background: var(--c-highlight);
  color: var(--c-onHighlight);
}

.feature--none::after {
  content: '';
}
.feature--none,
.feature--cross {
  box-shadow: inset 0 0 0 1px var(--c-onBg);
}
.feature--cross::after {
  content: '✗';
  color: var(--c-onBg);
  font-weight: 100;
}

.facts,
.timeline {
  position: relative;
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: .75rem;
  bottom: .75rem;
  width: 2px;
  left: .35rem;
  background-color: var(--c-onBg);
}

[data-reveal="false"] .timeline::before {
  transform: scaleY(0);
  transform-origin: 0 0;
}

[data-reveal="true"] .timeline::before {
  transform: scaleY(1);
  transition: transform 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 1400ms;
  transform-origin: 0 0;
}

.facts__item,
.timeline__item {
  padding: 0;
  padding-left: 1.5rem;
  margin: 0;
}

.facts__item {
  padding-left: 0;
}

.facts__item + .facts__item,
.timeline__item + .timeline__item {
  margin-top: 1rem;
}

.facts__title,
.timeline__title {
  position: relative;
  font-size: 1rem;
  margin: 0;
  width: max-content;
}

.timeline__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1.5rem;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: var(--c-bg);
  box-shadow: inset 0 0 0 2px var(--c-onBg);
  transform: translateY(-50%);
}

.timeline__item--past .timeline__title {
  position: relative;
}

.timeline__item--past .timeline__title::before {
  background-color: var(--c-onBg);
}

.timeline__item--current .timeline__title::before {
  background: radial-gradient(var(--c-highlight) 40%, var(--c-bg) 40%);
}
.facts__info,
.timeline__info {
  font-size: .6rem;
  margin: 0;
  margin-top: -0.2ex;
  max-width: 12rem;
  line-height: 1.2; 
}

[data-reveal="false"] .facts__title,
[data-reveal="false"] .timeline__title,
[data-reveal="false"] .facts__info,
[data-reveal="false"] .timeline__info {
  opacity: 0;
  transform: translateY(-1rem);
}

[data-reveal="false"] .facts__info,
[data-reveal="false"] .timeline__info {
  transform: translateY(.5rem);
}

[data-reveal="true"] .facts__title,
[data-reveal="true"] .timeline__title,
[data-reveal="true"] .facts__info,
[data-reveal="true"] .timeline__info {
  opacity: 1;
  transition: opacity 1s, transform 1s cubic-bezier(0.3, 0.7, 0, 1);
  transform: translateY(0);
  transition-delay: calc(var(--i, 0) * 500ms + 200ms);
}

[data-reveal="true"] .facts__info,
[data-reveal="true"] .timeline__info {
  transition-delay: calc(var(--i, 0) * 500ms + 350ms);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotateX(-0deg) rotateY(-45deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(calc(360deg * -2.25)) rotateY(calc(45deg * -1));
  }
}

@keyframes scale {
  0% {
    transform: translate3d(-50%, -50%, calc(var(--logo-sizeirection, 1) * var(--logo-stack))) scale(1);
  }
  100% {
    transform: translate3d(-50%, -50%, calc(var(--logo-sizeirection, 1) * 0vmin)) scale(0) rotate(20deg);
  }
}
